<p class="pull-right">
<a class="btn btn-default" href="/sites/new" role="button">new site</a>
</p>

<h1>{{title}}</h1>

<table class="table">
  <thead>
    <tr><th>Site</th><th>Active</th><th>Last Ping</th><th>Result</th><th colspan="3">Actions</th></tr>
  </thead>
  <tbody>
    {{#each sites}}
    <tr>
      <td>{{parsed_url.hostname}}{{#if label}} ({{label}}){{/if}}</td>
      <td>Active</td>
      <td>10:10 am PDT 08/03/2015</td>
      <td><span class="label label-success">OK</span></td>
      <td><a href="/sites/{{id}}/edit">Edit</a></td>
      <td><a href="/sites/{{id}}">Data</a></td>
      <td><a href="/sites/{{id}}/scan">Scan</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
