<p class="pull-right">
<a class="btn btn-default" href="/sites/new" role="button">new site</a>
</p>

<h1>{{title}}</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Sites</a></li>
  <li role="presentation"><a href="/servers">Servers</a></li>
</ul>

<table class="table">
  <thead>
    <tr><th>Site</th><th>Active</th><th>Last Ping</th><th>Result</th><th colspan="3">Actions</th></tr>
  </thead>
  <tbody>
    {{#each sites}}
    <tr>
      <td>{{parsed_url.hostname}}{{#if label}} ({{label}}){{/if}}</td>
      <td>{{#if active}}Active{{else}}Inactive{{/if}}</td>
      <td>{{last_scan.created}}</td>
      <td><span class="label label-{{last_scan.code}}">{{last_scan.code}}</span></td>
      <td><a href="/sites/{{id}}/edit">Edit</a></td>
      <td><a href="/sites/{{id}}">Data</a></td>
      <td><a href="/sites/{{id}}/scan">Scan</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
